*{
    color: white;
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header{
    display: flex;
    justify-content: space-around;
}

#products{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
}

.products_api{
    display: grid;
    align-items: center;
}

.products_api>img{
    width: 30%;
}

.products_api>span,
.products_api>img{
    justify-self: center;
}

.add_car{
    width: 50%;
    height: 33px;
    color: white;
    background-color: #201c1c;
    justify-self: center;
}

.add_car:hover{
    transition: 1s;
    background-color: white;
    color: rgb(42, 68, 68);
}

/*Modal button*/
#login{
    display: grid;
}

.modal-user,
.modal-login-button,
.shoping-car,
#close_sesion{
    border: none;
    background: transparent;
    text-decoration: none;
}

.modal-user:hover,
.modal-login-button:hover,
.shoping-car:hover,
#close_sesion:hover{
    transition: 2s;
    border-bottom: 3px solid white;
}
/*End modal Button*/

/*Modal register*/
#modal_register{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.modal_content_register{
    background-color: #222;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 20%;
}

#register_content{
    display: grid;
}

#name_register,
#passwords_register,
#email_register{
    display: grid;
    justify-content: center;
    align-content: center;
}

#register_user_name_input,
#register_user_pass_input,
#register_user_mail_input{
    color: black;
}

#close_register, #register{
    background-color: #1f1d19de;
    color: white;
    font-weight: bold;
    width: 20%;
    justify-self: center;
}

#close_register:hover, #close_register:focus,
#register:hover, #register:focus{
    background-color: white;
    color: #201c1c;
    text-decoration: none;
    cursor: pointer;
}
/*End Modal register*/

/*Modal login*/
#modal_login{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.modal_content_login{
    background-color: #222;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 20%;
}

#login_content{
    display: grid;
}

#name_login,
#passwords_login,
#email_login{
    display: grid;
    justify-content: center;
    align-content: center;
}

#login_username_input,
#login_password_input{
    color: black;
}

#close_login, #login_sesion{
    background-color: #1f1d19de;
    color: white;
    font-weight: bold;
    width: 20%;
    justify-self: center;
}

#close_login:hover, #close_login:focus,
#login_sesion:hover, #login_sesion:focus{
    background-color: white;
    color: #201c1c;
    text-decoration: none;
    cursor: pointer;
}
/*End modal login*/

#modalRegister{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content-register{
    background-color: #222;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    min-height: 20%;
    height: auto;
}

.register-content{
    display: grid;
}

.name-register,
.passwords-register,
.email-register{
    display: grid;
    justify-content: center;
    align-content: center;
}

.register-user-name-input,
.register-user-pass-input,
.register-user-mail-input{
    color: black;
}

.close-register, .register-button{
    background-color: #1f1d19de;
    color: white;
    font-weight: bold;
    width: 20%;
    justify-self: center;
}

.close-register:hover, .close-register:focus,
.register-button:hover, .register-button:focus{
    background-color: white;
    color: #201c1c;
    text-decoration: none;
    cursor: pointer;
}