*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: #222;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header{
    display: flex;
    justify-content: space-around;
}

#login{
    display: grid;
    justify-items: center;
}

.close-session{
    background: transparent;
    border: none;
}

.close-session:hover{
    border-bottom: 1px solid white;
}

.empty-title{
    justify-self: center;
}

.content-cards{
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
}

.content-cards>img{
    width: 10%;
}

.sum-rest{
    row-gap: 10px;
    background-color: transparent;
    height: 25px;
    width: 25px;
    border-radius: 20px;
}