*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: #222;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header{
    display: flex;
    justify-content: space-around;
}

#login{
    display: grid;
    justify-items: center;
}

.close-session{
    background: transparent;
    border: none;
}

.close-session:hover{
    border-bottom: 1px solid white;
}

#products{
    height: 100%;
    display: grid;
}

.empty-title{
    justify-self: center;
}