*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: #222;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header{
    display: flex;
    justify-content: space-around;
}

main{
    display: flex;
}

#login{
    display: grid;
    justify-items: center;
}

.close-session,
.go-home{
    background: transparent;
    border: none;
    text-decoration: none;
}

.close-session:hover,
.go-home:hover{
    text-decoration: none;
    border-bottom: 1px solid white;
}

.empty-title{
    justify-self: center;
}

.content-cards{
    display: flex;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}

.name-product-car{
    width: 30%;
}

.content-cards>img{
    width: 60px;
}

.sum-rest{
    row-gap: 10px;
    background-color: transparent;
    height: 25px;
    width: 25px;
    border-radius: 20px;
}

#total{
    display: grid;
    justify-items: center;
    width: 30%;
}

.total{
    align-self: flex-end;
}

.delete-button{
    background-color: transparent;
}

.buy{
    background-color: transparent;
    height: 40px;
    width: 80px;
}

.delete-button:hover,
.buy:hover{
    transition: 2s;
    color: black;
    background-color: white;
}